@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.header .logo span {
    color: #FF6600;
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #ededed;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #FF6600;   
}

@keyframes fadeIn {
  from { opacity: 0; visibility: hidden; }
  to { opacity: 1; visibility: visible; }
}

.biodata-container {
    position: absolute;
    top: 70px;
    left: 70px;
    background: #f2f2f2;
    padding: 30px;
    border-radius: 5px;
    margin: 50px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    visibility: hidden;
}

.biodata-item:in-viewport{
    animation: none;
    opacity: 1;
    visibility: visible;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.biodata-label {
  font-weight: 500;
  width: 150px;
  display: inline-block;
}

.biodata-value {
  color: #333;
  transition: transform 0.2s ease-in-out;
}

.biodata-item:hover .biodata-value {
  transform: scale(1.05);
}

.biodata-container .img1 {
  position: absolute;
  top: 0%;
  left: 130%;
}