@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.header .logo span {
    color: #FF6600;
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #ededed;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #FF6600;   
}

/* Add styles for the contact form section */
.contact-form {
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  
}

.contact-form h2 {
  margin-bottom: 20px;
  color: #ddd;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  color: #ddd;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #FF6600;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

button[type="submit"]:hover {
  background-color: #e65c00;
}